body {
    margin: 0;
    padding: 0;
}


.barra-superior {
    background-color: #d11717; /* Cor de fundo da faixa */
    color: white; /* Cor do texto */
    text-align: center; /* Alinha o texto no centro */
    padding: 10px 0; /* Espaçamento acima e abaixo do texto */
    font-size: 18px; /* Tamanho da fonte */
    width: 100%; /* Faz a faixa ocupar toda a largura da página */
    position: fixed; /* Fixa a faixa no topo da página */
    top: 0; /* Coloca a faixa no topo */
    left: 0; /* Alinha a faixa à esquerda */
    z-index: 1000; /* Garante que a faixa fique acima de outros elementos */
}

.fotos {
    width: 400px;
    height: 400px;
    position: relative;
    top: 50%;
    left: 30%;

}